	@charset "utf-8";

form #submit  {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	border:none;
	background:url('../images/search.png') center center  no-repeat; 
	width:75px;
	 height:37px;"
}

